<!-- The @page directive specifies the URL path for this component. In this case, the component will be rendered at the root URL path "/". -->
@page "/"

<!-- The <h1> element defines a heading with level 1. In this case, it displays "Hello, Umar al Farouk". -->
<h1>Hello, Umar al Farouk</h1>

<!-- The <p> element defines a paragraph. It displays the message "Welcome to your new app." -->
<p>Welcome to your new app.</p>
